<div class="repos">
  <div *ngFor="let repo of repos">
      <mat-card class="repo-card">
        <mat-card-header>
          <mat-card-title>{{repo.name}}</mat-card-title>
          <mat-card-subtitle>{{repo.objectId}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <a href="{{repo.url}}">src:{{repo.name}}</a>
        </mat-card-content>
        <mat-chip-list>
            <mat-chip color="accent" >stale</mat-chip>
            <mat-chip color="primary" selected>behind 5</mat-chip>
            <mat-chip>build</mat-chip>
          </mat-chip-list>
          <mat-card-actions>
              <button mat-button>Expand</button>
              <button mat-button>Compare</button>
            </mat-card-actions>
      </mat-card>
    </div>
</div>
