<mat-accordion class="example-headers-align"> 
  <div *ngFor="let project of projects">
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{project.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{project.description}}
            <mat-icon>layers</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <div *ngFor="let pr of prs">
            <mat-list-item>{{pr.title}} 
                <mat-chip-list>
                    <mat-chip color="primary">{{pr.status}}</mat-chip>
                    <mat-chip>{{pr.repository.name}}</mat-chip>
                  </mat-chip-list>                  
            </mat-list-item>
          </div>
        </mat-list>
           
        <mat-action-row>
          <button mat-button color="warn">Previous</button>
          <button mat-button color="primary">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </div>
</mat-accordion>