<mat-accordion class="example-headers-align"> 
  <div *ngFor="let project of projects">
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{project.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{project.description}}
            <mat-icon>layers</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list>
          <mat-list-item><mat-icon mat-list-icon>https</mat-icon> master </mat-list-item>
          <mat-list-item><mat-icon mat-list-icon>lock_open</mat-icon> develop </mat-list-item>
          <mat-list-item> feature/test </mat-list-item>
        </mat-list>
           
        <mat-action-row>
          <button mat-button color="warn">Previous</button>
          <button mat-button color="primary">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </div>
</mat-accordion>